@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  min-height: 100%;
  min-width: 1200px;
}

.shadow {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 0 70px;
  position: relative;
}

.navigation {
  width: 1060px;
  display: flex;
}

.navigation-logo {
  margin-right: 28px;
  margin-bottom: -9px;
  z-index: 1;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
  z-index: 1;
}

.navigation-user {
  width: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-user-item {
  margin: 0;
}

.navigator-search {
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.navigator-favorites {
  background-image: url(../images/icons/favorite-icon.svg);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.favorites-number {
  border-radius: 10px;
  background: #7DB54F;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  position: relative;
  bottom: 12px;
  left: 10px;
}

.navigation-button {
  width: 160px;
  margin: auto 0;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/framing.svg"), url("../images/index-background.jpg");
  background-color: #c0c0c0;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  text-align: center;
  border: none;
}

.welcome-sedona-image {
  vertical-align: bottom;
}

.advantages-title-block {
  padding: 69px 0;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.title-advantages-padding {
  padding-left: 290px;
  padding-right: 290px;
  margin-bottom: 25px;
}

.title-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-high {
  background-color: #82B3D3;
  display: flex;
}

.advantages-photo {
  background-size: cover;
}

.advantages-high-reverse {
  background-color: #82B3D3;
  display: flex;
  flex-direction: row-reverse;
}

.advantages-medium {
  width: 400px;
  background-color: #83B3D31F;
  padding: 113px 85px;
}

.advantages-low {
  width: 400px;
  background-color: #83B3D333;
  padding: 113px 85px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.high-title {
  color: #ffffff;
  padding: 102px 85px;
}

.border-color {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
  margin: 0 auto;
}

.border-middle {
  background-color: rgba(0, 0, 0, 0.30);
}



.advantages-description {
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.infrastructure-title-block {
  padding: 64px 0;
}

.title-infrastructure-padding {
  margin-bottom: 20px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.infrastructure-item {
  width: 400px;
  list-style-type: none;
  text-align: center;
  padding: 81px 85px;
  background-repeat: no-repeat;
  background-position: center 82px;
}

.infrastructure-high {
  background-color: #83B3D31F;
}

.infrastructure-title {
  margin: 102px 0 30px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-description {
  margin: 0;
  color:  #333333;
}

.house-image {
  background-image: url("../images/advantage-icon/advantage-icon-house.svg");
}

.food-image {
  background-image: url("../images/advantage-icon/advantage-icon-food.svg");
}

.gift-image {
  background-image: url("../images/advantage-icon/advantage-icon-gift.svg");
}

.search {
  padding: 96px 0;
  text-align: center;
}

.title-search-padding {
  margin-bottom: 20px;
}

.title-description-search-margin {
  margin-bottom: 54px;
  padding: 0 304px;
}

.search-button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  width: 376px;
  min-height: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  border: none;
  padding: 0;
}

.subscribe {
  background-image: url("../images/subsribe-landscape-image.jpg");
  background-size: cover;
  background-color: #82B3D3;
  text-align: center;
  margin: 0;
  padding: 96px 0 104px 0;
}

.subscribe-mailing {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.title-description-mailing {
  margin: 0;
  margin-bottom: 54px;
  padding: 0 258px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-form-mail {
  border: none;
  padding: 14px 237px 14px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-list-item {
  width: 47px;
  align-self: center;
  text-align: center;
}

.social-button {
  width: 48px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.vkontakte {
  background-image: url("../images/social-icon/vkontakte-icon.svg");
  vertical-align: bottom;
}

.telegram {
  background-image: url("../images/social-icon/telegram-icon.svg");
  vertical-align: bottom;
}

.youtube {
  background-image: url("../images/social-icon/youtube-icon.svg");
  display: inline-block;
  vertical-align: bottom;
}

.phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo-developer-img {
  vertical-align: bottom;
}

.inner-header {
  background-image: url("../images/search-landscape-image.jpeg");
  background-size: cover;
  background-color: #82B3D3;
  padding: 35px 70px 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-item::after {
  content: ">";
  color: #ffffff;
  width: 8px;
  height: 10px;
  padding: 0 10px;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.home-page-icon {
  background-image: url("../images/icons/breadcrumbs-home.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  border: none;
  margin-right: auto;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control-input {
  margin: 0;
}

.catalog-filter-menu {
  display: flex;
  color: #000000;
}

.button-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apply-filter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  width: 191px;
  padding: 8px 50px;
  margin-top: 56px;
}

.reset-filter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: none;
  border: none;
  color: #ffffff;
  width: 191px;
  padding: 8px 58px;
}

.filter-hotels-result {
  padding: 50px 70px 40px 70px;
  display: flex;
}

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  padding: 7px 0;
}

.result-total {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border-color:  #E5E5E5;
}

.view-selector-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.view-selector-item {
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
}

.current-selector-item {
  border: 2px solid #000000;
}

.view-selector-item:last-child {
  margin-right: 0;
}

.button-tile {
  background-image: url("../images/icons/view-table-icon.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.button-cards {
  background-image: url("../images/icons/view-table-gallery.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.button-list {
  background-image: url("../images/icons/view-table-list.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.catalog-result-hotels {
  padding: 0 70px;
}

.hotel-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-item {
  width: 340px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  box-sizing: border-box;
}

.hotel-info-link {
  text-decoration: none;
}

.hotel-img {
  vertical-align: bottom;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 16px 0;
}

.card-price {
  display: flex;
  justify-content: space-between;
  color: #333333;
}

.card-name {
  margin: 0;
  margin-bottom: 16px;
}

.card-price-value {
  margin: 0;
}

.card-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.detailed-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 26px;
}

.favorites-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 20px;
}

.favorites-link-add {
  background: #7DB54F;
  padding: 8px 18px;
}

.card-raiting {
  display: flex;
  justify-content: space-between;
}

.card-raiting-stars {
  margin: auto 0;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
  color: #333333;
  padding: 9px 22px 8px 23px;
  margin: 0;
}

.four-stars {
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 0, 23px 0, 46px 0, 69px 0;
  background-repeat: no-repeat;
  width: 92px;
  height: 17px;
}

.three-stars {
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 0, 23px 0, 46px 0;
  background-repeat: no-repeat;
  width: 92px;
  height: 17px;
}

.two-stars {
  background-image: url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 0, 23px 0;
  background-repeat: no-repeat;
  width: 92px;
  height: 17px;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 40px 0 60px 0;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-ellipsis {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-no-background {
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 96px 0 104px 0;
}

.subscribe-mailing-no-background {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.title-description-mailing-no-background {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-form-mail {
  border: none;
  padding: 14px 237px 14px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #F2F2F2;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
